@model DsbForsinket.Net.FakeNotificationHub.Models.Registration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Registration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Station)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Station)
            @Stations.NameForId(Model.Station)
        </dd>
    </dl>
</div>

<table class="table">
    <tr>
        <th>
            Tag
        </th>
        <th>
            Time
        </th>
        <th>
            Decoded Content
        </th>
    </tr>

    @foreach (var n in Model.Notifications.OrderByDescending(n => n.Timestamp))
    {
        var json = Json.Decode(n.Content);
        var count = int.Parse(json.data.delayedCount);
        count = count > 5 ? 5 : count;

        <tr>
            <td>
                @Html.DisplayFor(modelItem => n.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => n.Timestamp)
            </td>
            <td>
                @for (int i = 0; i < count; i++)
                {
                    <p>
                        @Html.Raw(json.data["departureName" + i])
                        <del>@json.data["departureTime" + i]</del>
                        @json.data["departureNewTime" + i]
                        @json.data["departureCancelled" + i]
                    </p>
                }
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
</p>
